
@width: 1200px;
.t-home-section{
    position: relative;
    box-sizing: border-box;
    transition: all .35s;
}

.t-head{
    width: @width;
    margin: 0 auto;
    height: 100px;
    position: relative;
    box-sizing: border-box;
    line-height: 100px;
    text-align: right;

    .t-logo{
        height: 46px;
        width: 215px;
        vertical-align: middle;
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .t-menu{
        vertical-align: middle;
        display: inline-block;
        font-family: 'Sansation';
        height: 40px;
        line-height: 40px;
        font-weight: 700;
        font-size: 20px;
        box-sizing: border-box;
        padding: 0 15px;
        border-radius: 2px;

        position: relative;

        &.cursor{
            cursor: pointer;
        }
        &.ac{
            background: #000;
            color: #FFFFFF;
        }

        .subText{
            display: none;
            color: #AED145;
            position: absolute;
            left: 50%;
            height: 30px;
            line-height: 30px;
            bottom: -25px;
            transform: translateX(-50%);
            white-space: nowrap;
            &.show{
                display: block;
            }
        }

    }
}

.t-section{
    width: 100%;
    min-width: @width;
    position: relative;
    box-sizing: border-box;
    transition: all .35s;
    background: #FFFFFF;
    height: auto;
    padding: 0;
    &.h{
        background: rgba(240, 237, 233, 0.7);
    }
    &.s1{
        background: rgba(240, 237, 233, 0.7);
    }
    &.s2{
        background: #DEF46D;
    }
    &.s3{
        background: #F0EDE9;
    }
    &.s4{
        background: #FFFFFF;
    }
    &.s5{
        background: #F0EDE9;
    }
    &.f{
        background: #FFFFFF;
    }
    .t-block{
        position: relative;
        box-sizing: border-box;
        width: @width;
        margin: 0 auto;
        padding: 0;
        height: auto;
    }
}

.flex{
    display: flex;
    flex-direction: row;
}
.between{
    justify-content: space-between;
}
.t-block-tooter{
    width: 100%;
    background: #000;
    height: 80px;
    line-height: 80px;
    bottom: -40px;
    left: 0;
    position: absolute;
    z-index: 4;
    color: #FFFFFF;
    border-radius: 2px;
    box-sizibg: border-box;
    padding: 0 20px;
    .t-block-rent{
        font-size: 20px;
        font-weight: 700;
    }
    .t-block-division{
        margin-left: 20px;
    }
    .t-block-icon{
        width: 20px;
        height: 20px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin: 0 20px;
        cursor: pointer;
    }
    .t-block-text{
        cursor: pointer;
    }
    .t-block-coin{
        position: absolute;
        z-index: 2;
        right: 20px;
        top: -55px;
        width: 180px;
        height: 160px;
        vertical-align: middle;
    }
}
.t-public-title{
    text-align: center;
    font-size: 32px;
    &.sub{
        font-size: 22px;
        font-weight: 400;
        span{
            font-weight: 600;
        }
    }
}
.t-public-padding{
    padding: 80px 40px 60px 40px!important;
    &.p{
        padding: 80px 0 60px 0!important;
    }
    &.center{
        text-align: center;
    }
}


.t1{
    padding: 0 0 100px 0!important;
    .t1-left{
        height: 400px;
        width: 400px;
        position: relative;
        box-sizing: border-box;
        left: -100px;
        top: -90px;
        padding: 90px 0 0 100px;
        background: radial-gradient(50% 50% at 50% 50%, #DEF46D 0%, rgba(223, 244, 113, 0.8212) 17.88%, rgba(225, 245, 124, 0.6563) 34.37%, rgba(230, 247, 143, 0.4968) 50.32%, rgba(236, 249, 169, 0.3405) 65.95%, rgba(243, 251, 203, 0.1867) 81.33%, rgba(252, 254, 244, 0.0367) 96.33%, rgba(255, 255, 255, 0) 100%);


        .t1-title{
            font-size: 34px;
            font-weight: 600;
            font-family: 'Sansation';
            font-style: normal;
            position: absolute;
            top: 160px;
            line-height: 45px;
            height: 90px;
        }
        .t1-sub-title{
            font-size: 16px;
            font-family: 'Sansation';
            font-style: normal;
            position: absolute;
            top: 260px;

            span{
                font-weight: 700;
            }
            label{
                letter-spacing: 5px;
                font-weight: 700;
            }

            .t1-title-icon{
                width: 20px;
                height: 20px;
                vertical-align: middle;
                position: relative;
                top: -1px;
                margin: 0 5px;
            }
            .t1-sub-title-text{
                vertical-align: middle;
                position: relative;
                height: 16px;
                display: inline-block;
            }
        }
    }
    .t1-right{
        width: 650px;
        position: relative;
        height: 500px;
        background: radial-gradient(50% 50% at 50% 50%, #DEF46D 0%, rgba(223, 244, 113, 0.8212) 17.88%, rgba(225, 245, 124, 0.6563) 34.37%, rgba(230, 247, 143, 0.4968) 50.32%, rgba(236, 249, 169, 0.3405) 65.95%, rgba(243, 251, 203, 0.1867) 81.33%, rgba(252, 254, 244, 0.0367) 96.33%, rgba(255, 255, 255, 0) 100%);
        box-sizing: border-box;
        padding: 50px 0 0 0;


        .t1-point{
            position: absolute;
            width: 200px;
            height: 200px;
            left: 60%;
            top: 40%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            border-radius: 10px;
        }
        .t1-r-1{
            position: absolute;
            width: 130px;
            height: 130px;
            z-index: 3;
            left: 200px;
            top: 120px;
        }
        .t1-r-2{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 270px;
            left: 190px;
            background: url("./images/t1/t1-r-2.png") no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            padding: 10px 0 0 12px;
            z-index: 3;
            img{
                width: 72%;
                display: block;
                margin: 0;
                vertical-align: top;
            }
            .t1-r-eth{
                width: 100%;
                transform: rotate(-36deg);
                line-height: 30px;
                height:  30px;
                position: relative;
                text-align: right;
                top: -10px;
                left: -26px;
            }
            .t1-r-rent{
                width: 67px;
                height: 22px;
                letter-spacing: 2px;
                border-radius: 2px;
                transform: rotate(-36deg);
                line-height: 22px;
                text-align: center;
                background: #000;
                position: relative;
                color: #FFFFFF;
                font-size: 14px;
                top: -47px;
                left: 107px;
            }
        }
        .t1-r-3{
            background: url("./images/t1/t1-r-3-bg.png") no-repeat;
            background-size: 100% 100%;
            position: absolute;
            z-index: 3;
            width: 180px;
            height: 260px;
            right: 60px;
            top: 70px;
            .t1-3-line-1{
                position: absolute;
                width: 60px;
                height: 1px;
                bottom: 10px;
                left: -20px;
                background: #000;
                transform: rotate(-45deg);
            }
            .t1-3-line-2{
                position: absolute;
                width: 60px;
                height: 1px;
                top: 40px;
                right: -40px;
                background: #000;
                transform: rotate(-45deg);
            }
            .t1-3-line-3{
                position: absolute;
                width: 35px;
                height: 1px;
                top: 0px;
                right: -40px;
                background: #000;
                transform: rotate(-45deg);
            }
            .t1-3-line-4{
                position: absolute;
                width: 7px;
                height: 7px;
                border: 1px solid #000;
                border-radius: 50%;
                border-right: 1px solid transparent;
                transform: rotate(-45deg);
                top: -16px;
                right: -22px;
            }
            .t1-3-line-5{
                position: absolute;
                width: 60px;
                height: 1px;
                bottom: -10px;
                right: -40px;
                background: #000;
                transform: rotate(-45deg);
            }
            .t1-3-line-6{
                position: absolute;
                width: 60px;
                height: 1px;
                bottom: -45px;
                right: -25px;
                background: #000;
                transform: rotate(-45deg);
            }
            .t1-3-line-7{
                position: absolute;
                width: 7px;
                height: 7px;
                border: 1px solid #000;
                border-radius: 50%;
                border-right: 1px solid transparent;
                transform: rotate(-45deg);
                bottom: -10px;
                right: -40px;
            }
            .t1-r-3-bg{
                background: url("./images/t1/t1-r-3.png") no-repeat;
                background-size: 100% 100%;
                width: 180px;
                height: 260px;
                position: relative;
                left: -20px;
                top: -20px;
                box-sizing: border-box;
                padding: 10px 12px 0 12px;
                .t1-r-3-icon{
                    width: 100%;
                }
                .t1-r-eth{
                    width: 100%;
                    line-height: 40px;
                    height:  40px;
                    font-size: 22px;
                    letter-spacing: 4px;
                    position: relative;
                    text-align: right;
                }
                .t1-r-rent{
                    width: 80px;
                    height: 24px;
                    letter-spacing: 2px;
                    border-radius: 2px;
                    line-height: 24px;
                    text-align: center;
                    background: #000;
                    position: relative;
                    color: #FFFFFF;
                    font-size: 14px;
                    top: 30px;
                    left: 76px;
                }
            }
        }
        .t1-r-4-bg{
            background: radial-gradient(50% 50% at 50% 50%, #9235EF 0%, rgba(170, 98, 243, 0.8216) 17.84%, rgba(206, 165, 248, 0.5318) 46.82%, rgba(233, 214, 252, 0.2884) 71.16%, rgba(249, 244, 254, 0.1039) 89.61%, rgba(255, 255, 255, 0) 100%);
            width: 300px;
            height: 300px;
            z-index: 2;
            position: absolute;
            right: -40px;
            bottom: -40px;
        }
        .t1-r-4{
            position: absolute;
            width: 130px;
            height: 130px;
            z-index: 4;
            right: 100px;
            bottom: 50px;

        }
    }
}




.t2-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px 0 0 0;

    .t2-content{
        width: 34%;
        height: 480px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 80px;
        background: url("./images/t2/t2-bg-1.png") no-repeat;
        background-size: 100% 100%;
        .t2-bg{
            width: 100%;
            height: 100%;
            position: relative;
            top: 20px;
            left: -20px;
            background: url("./images/t2/t2-bg-2.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            box-sizing: border-box;
            padding: 40px 0;
            .t2-c-title{
                text-align: center;
                font-size: 28px;
                padding: 0 40px;
                font-weight: 600;
                word-break: break-all;
                white-space: normal;
            }
            .t2-c-img{
                width: 100%;
                img{
                    width: 100%;
                    position: relative;
                    top: -20px;
                }
            }
        }
    }
}
.t2-footer{
    font-size: 28px;
    text-align: center;
    span{
        font-weight: 600;
    }
}




.t3-block{
    padding: 40px 0 0 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    .t3-content{
        position: relative;
        box-sizing: border-box;
        width: 20%;
        text-align: center;
        .t3-c-img{
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 80px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            img{
                width: 25%;
                position: relative;
                &.i1{
                    width: 35%;
                    top: 4px;
                }
                &.i3{
                    width: 28%;
                    top: -2px;
                }
            }
        }
        .t3-c-title{
            font-size: 26px;
            font-weight: 600;
            height: 120px;
            line-hieght: 40px;
        }
        .t3-c-description{
            word-break: break-all;
            white-space: normal;
        }
    }
}


.t4-block{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 100px 0 40px 0;

    .t4-list{
        position: relative;
        box-sizing: border-box;
        padding: 0 0 60px 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.n{
            .t4-l-bg{
                position: relative;
                left: 0px;
            }
            .t4-l-num{
                width: 100px;
                padding: 0;
                text-align: left;
            }
            .t4-l-description{
                padding: 0 120px 0 0;
            }
        }

        .t4-l-bg{
            width: 460px;
            height: 300px;
            background: url("./images/t4/t4-bg-1.png") no-repeat;
            background-size: 100% 100%;
            position: relative;
            left: 20px;
            .t4-bg{
                width: 460px;
                height: 300px;
                position: relative;
                top: -20px;
                left: -20px;
                background: url("./images/t4/t4-bg-2.png") no-repeat;
                background-size: 100% 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 90%;
                }
            }
        }
        .t4-l-num{
            width: 160px;
            text-align: center;
            color: #DEF46D;
            font-weight: 700;
            font-size: 100px;
            box-sizing: border-box;
            padding: 0 0 0 20px;
        }
        .t4-l-description{
            flex: 1;
            font-weight: 600;
            font-size: 26px;
            word-break: break-all;
            white-space: normal;
            box-sizing: border-box;
            padding: 0;
        }
    }
}
.t4-read{
    text-align: center;
    span{
        display: inline-block;
        height: 50px;
        width: 190px;
        border-radius: 2px;
        cursor: pointer;
        line-height: 50px;
        background: #000;
        color: #FFFFFF;
        font-size: 24px;
    }
}



.t5-block{
    box-sizing: border-box;
    position: relative;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    .t5-list{
        width: 110px;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        padding: 90px 0 0 0;
        height: 400px;
        &.n{
            height: 310px;
            padding: 0;
            .t5-line{
                transform: rotate(30deg);
                bottom: 0;
            }
        }
        .t5-line{
            display: block;
            width: 110px;
            height: 16px;
            background: #D5F362;
            border-radius: 2px;
            position: absolute;
            z-index: 1;
            bottom: 80px;
            right: -80px;
            transform: rotate(-30deg);
            &.none{
                display: none!important;
            }
        }
        .t5-l-title{
            letter-spacing: 0;
            font-size: 22px;
            font-weight: 600;
            word-break: break-all;
            white-space: normal;
            position: relative;
            z-index: 4;
            height: 30px;
        }
        .t5-l-description{
            text-align: center;
            font-size: 14px;
            word-break: break-all;
            white-space: normal;
            position: relative;
            z-index: 4;
            height: 60px;
        }
        .t5-l-light{
            width: 110px;
            height: 180px;
            background: url("./images/t5/t5-light.png") no-repeat;
            background-size: 100% 100%;
            position: relative;
            z-index: 3;
            position: relative;
            top: -10px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img{
                width: 40px;
                position: relative;
                top: 5px;
                &.i1{
                    width: 24px;
                }
                &.i2{
                    width: 38px;
                }
                &.i4{
                    width: 45px;
                }
                &.i6{
                    width: 32px;
                }
                &.i7{
                    width: 30px;
                }
                &.i8{
                    width: 50px;
                }
            }
        }
        .t5-l-bg{
            width: 90px;
            height: 90px;
            z-index: 2;
            background: url("./images/t5/t5-bg.png") no-repeat;
            background-size: 100% 100%;
            position: relative;
            top: -50px;
            left: 10px;
        }
    }
}




.t-f-icon{
    box-sizing: border-box;
    padding: 40px 0 20px 0;
    img{
        margin: 0 15px;
        height: 30px;
        vertical-align: middle;
        position: relative;
        &.f2{
            height: 27px;
        }
    }
}
.t-f-text{
    box-sizing: border-box;
    padding: 0 0 40px 0;
    font-weight: 600;
    font-size: 20px;
}
.t-f-logo{
    box-sizing: border-box;
    img{
        height: 30px;
    }
}
