html, body {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Nunito;
}
#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


